<div class="small-3 columns sidebar-column">
  <div class="sidebar">

    <div class="sidebar-title">
      <div class="row">
        <div class="small-12 medium-9 columns">
          <h3 class="sidebar-course-title">
            <%=@course.title%>
          </h3>
          <h5 class="sidebar-cagetory-title">
            <%=@category.name%>
          </h5>
        </div>
        <div class="small-12 medium-3 column">
          <% if @section %>
            <a href="/courses/<%=@course.id%>/sections/<%=@section.id%>">
               <i class="fi-check"></i>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <ul class="side-nav"> 
      <li >
       <div id="sections"></div>
      </li>
      <li>
         <%= render "form"%>
      </li>
    </ul>

  </div>
</div>