<div class="small-3 columns sidebar-column">
  <div class="sidebar">

    <div class="sidebar-title">
      <div class="row row-header">
        <div class="small-12 medium-10 columns">
          <h3 class="sidebar-course-title">
            <div class="course_cat_img"><%= image_tag(@category.img)%></div>
            <%=@course.title%>
          </h3>
        </div>
        <div class="small-12 medium-2 column">
          <% if @section %>
            <a href="/courses/<%=@course.id%>/sections/<%=@section.id%>">
               <i class="fi-check"></i>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <ul class="side-nav"> 
      <li>
         <%= render "form"%>
      </li>
      <li >
       <div id="sections"></div>
      </li>
    </ul>

  </div>
</div>


<style>
.course_cat_img img{
width:60px;
margin-bottom: 10px; 
}
</style>

<script>
// $('#sections').sortable({
//     axis: 'y',    
//     update: function (event, ui) {
//         var data = $(this).sortable('serialize');
//         console.log(data);

//         $.ajax({
//             data: data,
//             type: 'GET',
//             dataType: 'json',
//             url: '/courses/:course_id/sections/:section_id/sorted',
//             success : function(data) {
//               console.log(data);
//             }
//         });
//     }
// });
// </script>
