<div class="small-3 columns sidebar-column">
  <div class="sidebar">

    <div class="sidebar-title">
      <!-- if I remove this row, the styling doesn't scroll sideways -->
      <div class="row row-header">
        <div class="small-12 medium-9 columns">
          <h3 class="sidebar-course-title">
            <div class="course_cat_img"><%= image_tag(@category.img)%></div>
            <%=@course.title%>
          </h3>
        </div>
        <div class="small-12 medium-3 column">
          <a href="/courses/<%=@course.id%>/sections/<%=@section.id%>/edit">
            <i class="fi-widget"></i>
          </a>
        </div>
      </div>
    </div>
    <ul class="side-nav">
      <% @sections.each do |section| %>
        <li >
          <div class="section">
            <a href="/courses/<%=@course.id%>/sections/<%=section.id%>">
              <%= section.title %>
            </a>
          <div>
        </li>
      <% end %>
    </ul>

  </div>
</div>

<style>

.course_cat_img img{
width:60px;
margin-bottom: 10px; 
}
</style>
