<h1 class="page-title">Browse Courses by Category<h1>
<h3 id="cat_name_to">* * * * *</h3>


<div class="all_cats_holder">
<% i = 0 %>
  <div class="all_cats">
  <% @a.each do |f| %>
  <% i += 1 %> 
    <div class= "cat_holder">
      <dl data-tab><dd><a href="#panel2-<%=i%>">
        <div class="cat_image"><%= image_tag(f.img)%></div>
        <div class="cat_name"><%= f.name %></div>
      </a></dd></dl>
    </div>
    <%end%>
  </div>  
</div>
<div class="all_cats_holder">
  <div class="all_cats">
  <% @b.each do |f| %>
  <% i += 1 %>
    <div class= "cat_holder">
       <dl data-tab><dd><a href="#panel2-<%=i%>">
          <div class="cat_image"><%= image_tag(f.img)%></div>
          <div class="cat_name"><%= f.name %></div>
        </a></dd></dl>
    </div>
    <%end%>
  </div>  
</div>

<div class="all_cats_holder">
  <div class="all_cats">
  <% @c.each do |f| %>
  <% i += 1 %>
      <div class= "cat_holder">
        <dl data-tab><dd><a href="#panel2-<%=i%>">
          <div class="cat_image"><%= image_tag(f.img)%></div>
          <div class="cat_name"><%= f.name %></div>
        </a></dd></dl>
      </div>
    <%end%>
  </div> 
</div>

<div class="tabs-content">
  <div class="content" id="panel2-2">
   <% this = @all_courses.where(category_id: 2) %>
   <% this.each do |course| %>
    <div class="small-9 small-centered columns">
      <a href="/courses/<%= course.id%>">
        <h5><%= course.title %></h5>
        <p><%= course.description %></p>
      </a>
    </div>
  </div>
  <% end %>
</div>
</div>



<style>
.row_browse {
width: 80%;
margin-left: auto;
margin-right: auto; 
max-width: initial; 
}

.large-8 columns,
.small-9 small-centered columns,
.cat_image, 
#cat_name_to{
text-align: center;
}

#cat_name_to{
margin-top: -10px;
margin-bottom: 25px;
}

.all_cats > div{
margin: 5px 5px 0 5px;
}

.cat_image img {
width:90px;
background: lightgrey;
margin-bottom: 5px;
padding:10px;
}

.cat_image img:hover{
background:lightblue;
}

.cat_name{
display: none;
}

.all_cats {
text-align: center;
display: inline-flex;
margin-left: 10%;
margin-right: 10%;
}

.all_cats_holder {
text-align: center;
}

</style>

<script>

$(".cat_holder")
  .mouseover(function() {
    var this_text = $(this).text();
  $( "#cat_name_to" ).text(this_text);
    })
  .mouseout(function() {
  $( "#cat_name_to" ).text( "* * * * *" );
});

</script>