
  <div class="small-11 medium-10 large-10 small-centered columns">
    <div class="row">
      <div class="small-6 columns">
        <div class="page-title">
          <%= current_user.name %>'s Courses 
        </div>
      </div>
      <div class="small-1 small-offset-5 columns">
        <div class="add-course">
          <a href="#" data-reveal-id="new-course">New</a>
          <%= render "new"%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-3 large-3 columns">

        <dl id="course-tabs" class="tabs vertical" data-tab>
            <dd class="active"><a href="#created">
              Created
            </a></dd>
            <dd><a href="#enrolled">
              Enrolled
            </a></dd>
        </dl>
      </div>

      <div class="small-12 medium-9 large-9 columns ">
        <div class="tabs-content vertical row-height">

            <div class="content active tab-contents min-row-height" id="created">
              <% @created_courses.each do |c_course| %>
                <div class="small-12 columns show-container">
                <a href="/courses/<%= c_course.id%>">
                  <div class="small-2 columns img-column">
                    <p><%= image_tag(c_course.category.img, class: "course-img")%></p>
                  </div>
                  <div class="small-10 columns">
                    <h3><%= c_course.title %></h3>
                    <p><%= c_course.description %></p>
                  </div>
                </a>
              </div>
              <% end %>
            </div>

          <div class="content tab-contents min-row-height" id="enrolled">
            <% @enrolled_courses.each do |e_course| %>
             <div class="small-12 columns show-container">
                <a href="/courses/<%= e_course.id%>">
                  <div class="small-2 columns img-column">
                    <p><%= image_tag(e_course.category.img, class: "course-img")%></p>
                  </div>
                  <div class="small-10 columns">
                    <h3><%= e_course.title %></h3>
                    <p><%= e_course.description %></p>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        </div>    
      </div>

    </div>

  </div>

<!-- -- 
Created Courses (view @created)
-- Enrolled Courses (view @enrolled)
-- Add new Course [only shows up for user owner] -- opens up modal
 -->