<div class="page-title"> My Courses </div>


<div class="row">
  <div class="small-10 medium-8 large-6 small-centered columns">
    <div class="row">

      <dl class="tabs" data-tab>
          <dd class="active"><a href="#created">
            Created
          </a></dd>
          <dd><a href="#enrolled">
            Enrolled
          </a></dd>
        <div class="add-course">
          <a href="#" data-reveal-id="new-course">New</a>
          <%= render "new"%>
        </div>
      </dl>

    </div>   
  </div>
</div>

<div class="tabs-content">
  <div class="content active" id="created">
    <% @created_courses.each do |course| %>
      <div class="row">
        <div class="small-10 medium-8 large-6 small-centered columns">
          <a href="/courses/<%= course.id%>">
            <h3><%= course.title %></h3>
            <p><%= course.description %></p>
          </a>
        </div>
      </div>
    <% end %>
  </div>
  <div class="content active" id="enrolled">
  <% @enrolled_courses.each do |course| %>
    <div class="row">
      <div class="small-10 medium-8 large-6 small-centered columns">
        <a href="/courses/<%= course.id%>">
          <h3><%= course.title %></h3>
          <p><%= course.description %></p>
        </a>
      </div>
    </div>
  <% end %>
</div>
</div>
 

<!-- -- 
Created Courses (view @created)
-- Enrolled Courses (view @enrolled)
-- Add new Course [only shows up for user owner] -- opens up modal
 -->