<!-- This is the Courses Homepage

 -course title (edit)
 -course description (edit)
 -Sections (click to go to view sections)

Course at a Glance [reviews//views//enrollments//upvotes//hours per section] -->

<div class="row">
  <div class="small-9 small-centered columns">
    <a href="#" data-reveal-id="edit-course">
      <h3 class="page-title" ><%= @course.title %><h3>
    </a>
      <p><%= @course.description%><p>
    <%= render "edit"%>

      <% if @enrolled %>
      <div id="toggles">
        <button id="unenroll">Unenroll</button>
        <button id="enroll" class="hidden">Enroll</button>
      <% elsif @ownCourse %>
      <% else %>
      <div id="toggles">
        <button id="enroll">Enroll</button>
        <button id="unenroll" class="hidden">Unenroll</button>
      </div>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="small-9 small-centered columns">
    <p>Created by: <%= @author.name %></p>
  </div>
</div>
  
<div class="row">
  <div class="small-9 small-centered columns">

    <div class="row">    
      <div class="small-4 small columns">
        <h3>Sections<h3>
        <% @course.sections.each do |s| %>
          <a href="/courses/<%= @course.id%>/sections/<%= s.id%>">
            <h5><%= s.title %></h5>
          </a>
        <% end %>
      </div>

      <div class="small-5 small columns">
        <h3>Course at a Glance</h3>
        <h4>Category: <%= @course.category.name %></h4>
        <h4># of Sections: <%= @course.sections.count %></h4>
      </div>
    </div>

    <div class="row">
      <div class="small-9 columns">
      ---------------------------</br>
      Needs to add reviews
      </div>
    </div>

  </div>
</div>
