<!-- This is the Courses Homepage

 -course title (edit)
 -course description (edit)
 -Sections (click to go to view sections)

Course at a Glance [reviews//views//enrollments//upvotes//hours per section] -->

<div class="row">
  <div class="small-9 small-centered columns">
    <a href="#" data-reveal-id="edit-course">
      <h3 class="page-title" ><%= @course.title %><h3>
      <p><%= @course.description%><p>
    </a>
    <%= render "edit"%>
    <button id="enroll">Enroll</button>
  </div>
</div>

<div class="row">
  <div class="small-9 small-centered columns">
    <p>Created by: <%= @user.name %></p>
  </div>
</div>
  
<div class="row">
  <div class="small-9 small-centered columns">

    <div class="row">    
      <div class="small-4 small columns">
        <h3>Sections<h3>
        <% @course.sections.each do |s| %>
              <h5><%= s.title %></h5>
        <% end %>
      </div>

      <div class="small-5 small columns">
        <h3>Course at a Glance</h3>
        <h4>Category: <%= @course.category.name %></h4>
        <h4># of Sections: <%= @course.sections.count %></h4>
      </div>
    </div>

    <div class="row">
      <div class="small-9 columns">
      ---------------------------</br>
      Needs to add reviews
      </div>
    </div>

  </div>
</div>
