<!-- This is the Courses Homepage

 -course title (edit)
 -course description (edit)
 -Sections (click to go to view sections)

Course at a Glance [reviews//views//enrollments//upvotes//hours per section] -->

<div class="row">
  <div class="small-9 small-centered columns">
    <br><br>
      <div class="course_cat_img"><%= image_tag(@course.category.img)%></div>

        <% if @current_user == @author %>
          <a href="#" data-reveal-id="edit-course">
          <h3 id="course_heading" ><%= @course.title %><h3></a>
        <% else %>
          <h3 id="course_heading2" ><%= @course.title %><h3>
        <% end %>

      <p id="course_description"><%= @course.description%><p>
    <%= render "edit"%>

      <div class="small-9 small-centered columns">
        <p id="course_by">By: <%= @author.name %></p>
      </div>

      <% if @enrolled %>
      <div id="toggles">
        <button id="unenroll">Unenroll</button>
        <button id="enroll" class="hidden">Enroll</button>
      <% elsif @ownCourse %>
      <% else %>
      <div id="toggles">
        <button id="enroll">Enroll</button>
        <button id="unenroll" class="hidden">Unenroll</button>
      </div>
      <% end %>
  </div>
</div>

  
<div class="row">
  <div class="small-9 small-centered columns">

    <div class="row">    
      <div class="small-4 small columns">
        <h4>Sections<h4>
        <% @course.sections.each do |s| %>
          <a href="/courses/<%= @course.id%>/sections/<%= s.id%>">
            <p id="indent_title"><%= s.title %></p>
          </a>
        <% end %>
      </div>

      <div class="small-5 small columns">
        <h4>Course at a Glance</h4>
        <p class="glance">Category: <%= @course.category.name %></p> 
        <p class="glance"># of Sections: <%= @course.sections.count %></p>

      </div>
    </div>


  </div>
</div>

<style>
.course_cat_img{
text-align: center;  
}

#toggles{
text-align: center;
}

.course_cat_img img{
width:70px; 
}

.glance{
color:grey;
line-height: 100%;
}

.row .row {
background: white;
padding-left: 70px;
padding-right: 70px;
padding-top: 40px;
padding-bottom: 20px;
margin-bottom: 50px;
}


</style>
