<div class="content">
  <div>{{source_url}}</div>
  <div>{{text}}</div>
  <a data-method="delete" href="{{edit_content_path}}{{id}}.json" id="delete_content_{{id}}"  rel="nofollow">Delete Content</a>
  <a href="#" class="edit_link" data-id="{{id}}" data-reveal-id="edit-content">edit</a>
</div>