<div id="count_to">
</div>
<!-- a blank array for pushing each word count number into -->
<% array = []%>
<ol>

  <% @contents.each do |content| %>
    <li id="content_list"><div id="content_comment"><%= content.text %></div></li>
    <div id="content_title"><%= content.res_title %></div>
    <div class="author"><%= content.res_author %></div> 
    <div id="link"><a href="<%=content.source_url%>"><%= content.res_domain %></a></div>
    <div class="count"><%= count_each = content.res_word_count %></div>
    <div id="excerpt"><%= raw(content.res_excerpt) %></div>
    <!-- pushing the count into the blank array -->
    <% array << count_each %>
    <button class="content_button">+</button>
    <div id="content", style="display: none"><%= raw(content.res_content) %></div>
  <% end %>
</ol>
<!-- the count_from gets appended to count_to -->
<div id="count_from">
    <h3>My awesome course</h3> 
    <% total_words = array.sum { |e| e.to_i } %>
    section word count: <%= total_words %><br>
    <% wpm = (total_words / 200) %>
   aprox reading time: <%= wpm %> minutes
</div>
</div>